td.unit.none{
	background: #9eff9e;
}
#sidebarBoxVillagelist li{
	grid-template-rows: 16px 12px!important;
	font-size: 11px!important;
}

#sidebarBoxVillagelist .shortcutsEnabled li{
	display: block!important;
}
.iconAndNameWrapper{
	padding: 0!important;
}

.Tjs_troop_train{
	height:100%; 
	width:100%; 
	overflow: hidden; 
	margin-top:3px;
}

.mobileOptimized #stockBar:before{
	content:unset!important;
}