/*#sidebarBoxVillagelist {position:relative;display:inline-block;width:330px;margin:5px 5px 5px;color:#333;background-color:#3c4f56}*/
#sidebarBoxVillagelist .sidebarBoxInnerBox .innerBox {padding-right:10px; padding-left:10px; }